<div class="jumbotron psln-container">
  <div class="container">
    <h1 class="display-4 psln-oracleText">My Messages    </h1>
  </div>
</div>
<nav class="psln-navUsers">
Dashboard / My Messages
</nav>
<div class="container bs-calltoaction bs-calltoaction-default"> 
    <div class="row">                        
          <div class="col-md-12"> 
          <div class="table-responsive">
                <table id="mytable" class="table table-bordred  ">                         
                 <thead>
                  <th> </th>
                  <th>Name</th>
                  <th>Species</th>
                  <th>Breed</th>
                  <th>Date</th>
                  <th>Manage</th> 
                 </thead>
  <tbody>          
  <tr>
      <td>1</td>
      <td>Mohsin</td>
      <td>Irshad</td>
      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
      <td>isometric.mohsin@gmail.com</td>
      <td><a routerLink="#" class="btn btn-lg btn-block btn-default psln-waitlist">View</a></td> 
      <td> <a routerLink="#" class="btn btn-lg btn-block btn-default psln-delete">Delete</a></td>
  </tr>
      
   <tr>
      <td>2</td>
      <td>Mohsin</td>
      <td>Irshad</td>
      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
      <td>isometric.mohsin@gmail.com</td>
      <td><a routerLink="#" class="btn btn-lg btn-block btn-default psln-waitlist">View</a></td> 
      <td> <a routerLink="#" class="btn btn-lg btn-block btn-default psln-delete">Delete</a></td>
      </tr>
      
      
   <tr>
      <td>3</td>
      <td>Mohsin</td>
      <td>Irshad</td>
      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
      <td>isometric.mohsin@gmail.com</td>
      <td><a routerLink="#" class="btn btn-lg btn-block btn-default psln-waitlist">View</a></td> 
      <td> <a routerLink="#" class="btn btn-lg btn-block btn-default psln-delete">Delete</a></td>
      </tr>
      
      
      
   <tr>
      <td>4</td>
      <td>Mohsin</td>
      <td>Irshad</td>
      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
      <td>isometric.mohsin@gmail.com</td>
      <td><a routerLink="#" class="btn btn-lg btn-block btn-default psln-waitlist">View</a></td> 
      <td> <a routerLink="#" class="btn btn-lg btn-block btn-default psln-delete">Delete</a></td>
      </tr>
      
      
   <tr>
      <td>5</td>
      <td>Mohsin</td>
      <td>Irshad</td>
      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
      <td>isometric.mohsin@gmail.com</td>
      <td><a routerLink="#" class="btn btn-lg btn-block btn-default psln-waitlist">View</a></td> 
      <td> <a routerLink="#" class="btn btn-lg btn-block btn-default psln-delete">Delete</a></td>
      </tr>
      
     
      
     
      
  </tbody>
          
  </table>
                  
              </div>
              
          </div>
    </div>
   
       
</div>