<div class="jumbotron psln-container">
    <div class="container">
      <h1 class="display-4 psln-oracleText">E-mail Templates</h1>
    </div>
  </div>
  <nav class="psln-navUsers">
  Contact / E-mail Templates
  </nav>
  <div class="container"> 
    <br>
    <div > 
      	<div class="row">
            <div class="col-md-4">
            <a class="btn btn-default add-new-button" routerLink="/newTemplate">
              <img class="psln-imgAdd" src="assets/img/ADD.svg" width="50">
              <br>  
              <span>Create New Template</span>
            </a>      
            </div>      
        </div>
    </div>
  </div>