<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron psln-container">
  <div class="container">
    <h1 class="display-4 psln-oracleText">Volunteer Portal</h1>
  </div>
</div>

<div class="container">
  <div class="row">       
      <div class="col-md-6" id="psln-panel">
          <div class="panel" id="psln-panelBody">
              <div class="panel-body"> 
                  <div class="row">        
                      <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter hdpe">
                          <a routerLink="/Portal/Opportunities"><img src="assets/img/volunteer_opportunities.svg" class="img-responsive"></a>
                          <p class="psln-text">Volunteer Oportunities</p>
                      </div>            
                      <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter sprinkle">
                        <a routerLink="/Portal/History"><img src="assets/img/volunteerhistory.svg" class="img-responsive"></a>
                          <p class="psln-text">Voluteer History</p>
                      </div>            
                      <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter hdpe">
                        <a routerLink="/Portal/Hours"><img src="assets/img/volunteerHours.svg" class="img-responsive"></a>
                          <p class="psln-text">Volunteer Hours</p>
                      </div>   
                  </div>                     
              </div>
          </div>
      </div>
  </div>
</div>
<div class="jumbotron psln-containerBottom">
  <div class="container">
        <p class="display-4 psln-textBot">Lorem Ipsum is simply dummy text of the printing.</p>
        <a class="display-4 psln-btnContact">Join the Team        </a>
  </div>
</div>


