<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron psln-container">
  <div class="container">
    <h1 class="display-4 psln-oracleText">Contact</h1>
  </div>
</div>

<div class="container">
  <div class="row"> 
          <app-sidebar></app-sidebar>        
      <div class="col-md-6" id="psln-panel">
          <div class="panel" id="psln-panelBody">
              <div class="panel-body"> 
                  <div class="row">        
                      <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter hdpe">
                          <a routerLink="/messages"><img src="assets/img/messajes.svg" class="img-responsive"></a>
                          <p class="psln-text">Messages</p>
                      </div>            
                      <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter sprinkle">
                        <a routerLink="/emailTemplate"><img src="assets/img/emailTemplates.svg" class="img-responsive"></a>
                          <p class="psln-text">Email Templates</p>
                      </div>            
                      <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter hdpe">
                        <a routerLink="/volunteerOpportunities"><img src="assets/img/volunteerOportunities.svg" class="img-responsive"></a>
                          <p class="psln-text">Volunteer Opportunities</p>
                      </div>   
                  </div>                     
              </div>
          </div>
      </div>
  </div>
</div>
<div class="jumbotron psln-containerBottom">
  <div class="container">
        <p class="display-4 psln-textBot">Lorem Ipsum is simply dummy text of the printing.</p>
        <a class="display-4 psln-btnContact">Contact Us</a>
  </div>
</div>


