<div class="jumbotron psln-container">
    <div class="container">
      <h1 class="display-4 psln-oracleText">Forms</h1>
    </div>
  </div>
  <nav class="psln-navUsers">
  Dashboard / Forms
  </nav>
  <div class="container"> 
    <br>
    <div class=" panel"> 
      	<div class="row">
            <div class="col-md-4">
            <a class="btn btn-default add-new-button" routerLink="">
              <img class="psln-imgAdd" src="assets/img/ADD.svg" width="50">
              <br>
              <span>Add New Form </span>
            </a>      
            </div>      
       
          <div class="col-md-6">    
              <form class="form-horizontal">
                  <fieldset> 
                  <!-- Text input-->
                  <br>
                  <div class="col-md-12">
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="" for="Brand">Add Form Tittle</label>  
                    <br>
                    <div class="col-md-6">
                    <input id="Brand" name="Brand" type="text" placeholder="Brand" class="form-control input-md">
                    <span class="help-block"> </span>  
                    </div>
                  </div>
                  
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="" for="much">Select Form Template</label>  
                    <br>
                    <div class="col-md-6">
                    <input id="much" name="much" type="text" placeholder="How Much" class="form-control input-md">
                    <span class="help-block"> </span>  
                    </div>
                  </div> 
                  <div class="form-group"> 
                    <div class="col-md-6" align="center">
                      <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-btnPlace" routerLink="/QuestionTemplate">Save</a> 
                    </div>
                  </div>
                  </div>
                  </fieldset>
                  </form>
          </div> 
        </div>
    </div>
  </div>