<div class="jumbotron psln-container">
    <div class="container">
      <h1 class="display-4 psln-oracleText">Forms</h1>
    </div>
  </div>
  <nav class="psln-navUsers">
  Dashboard / Forms
  </nav>
    <div class="container bs-calltoaction bs-calltoaction-default"> 
        <div class="container psln-navSearch"> 
            <div class="form-group"> 
                <div class="col-md-12">
                    <p style="color:#fff;font-size:1.3em">Form Title</p>
                </div>                     
            </div> 
          </div>
        <div class="row">                        
                <div class="col-md-10"> 
                <form class="form-horizontal">
                  <fieldset> 
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Brand"> </label>  
                        <br>
                        <div class="col-md-6">
                          <input id="Brand" name="Brand" type="text" placeholder="Page Tittle" class="form-control input-md">
                          <span class="help-block"> </span>  
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="psln-labText" for="checkboxes">Volunteer Work Types (Select all that apply)</label>
                        <div class="psln-rightNav">
                           <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-notes">Edit</a> 
                           <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-waitlist">Move</a> 
                           <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-copy">Copy</a> 
                           <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-delete">Delete</a> 
                        </div>
                        <br>
                        <div class="col-md-4">
                        <div class="checkbox">
                          <label for="checkboxes-0">
                            <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                            Cleaning
                          </label>
                        </div>
                        <div class="checkbox">
                          <label for="checkboxes-1">
                            <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                            Off - Site Help
                          </label>
                        </div>
                        </div>                        
                    </div>  
                    <div class="form-group"> 
                        <div class="col-md-12" align="center">
                          <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-btnSave" routerLink="/newQuestion">New Question</a> 
                        </div>
                      </div>  
                </fieldset>
              </form>
                </div>
          </div>
         
   
    </div>
    <div class="container">
    <div class="col-md-12 psln-divFoot" align="center">
        <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-btnFoot">Save Template</a> 
    </div>
    </div>