<div class="jumbotron psln-container">
  <div class="container">
    <h1 class="display-4 psln-oracleText">Volunteer Oportunities   </h1>
  </div>
</div>
<nav class="psln-navUsers">
Dashboard / Volunteer Oportunities
</nav>
<div class="container">
<div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-default">
        <div class="row">
            <div class="profile-header-container" style="padding-top: 15%;">   
                <div class="profile-header-img">
                   <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />
                </div>
            </div>
            <div class="col-md-9 cta-contents">
                <div class="cta-desc">
                    <p>Describe the action here.</p>
                    <p>Describe the action here.</p>
                    <p>Describe the action here.</p>
                </div>
            </div>
            <div class="col-md-3 cta-button">
                <a routerLink="#" class="btn btn-lg btn-block btn-default  psln-waitlist">Go for It!</a>
                <a routerLink="#" class="btn btn-lg btn-block btn-default psln-notes">Go for It!</a>
                <a routerLink="#" class="btn btn-lg btn-block btn-default psln-delete">Go for It!</a>
            </div>              
         </div>
    </div> 
</div>
</div>