<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron psln-container">
  <div class="container">
    <h1 class="display-4 psln-oracleText">Volunteer Portal</h1>
  </div>
</div>

<div class="container">
  <div class="row">       
      <div class="col-md-6" id="psln-panel">
          <div class="panel" id="psln-panelBody">
              <div class="panel-body"> 
                  <div class="row">        
                      <div class="psln-gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-3 filter hdpe">
                          <a routerLink="/Portal/Volunteers"><img src="assets/img/volunteerOportunities.svg" class="img-responsive"></a>
                          <p class="psln-text">Volunteer Oportunities</p>
                      </div>            
                      <div class="psln-gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-3 filter sprinkle">
                        <a routerLink="/Portal/Messages"><img src="assets/img/mymessages.svg" class="img-responsive"></a>
                          <p class="psln-text">My Messages</p>
                      </div>            
                      <div class="psln-gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-3 filter hdpe">
                        <a routerLink="/Portal/MyHistory"><img src="assets/img/history.svg" class="img-responsive"></a>
                          <p class="psln-text">Volunteer History</p>
                      </div>           
                      <div class="psln-gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-3 filter hdpe">
                        <a routerLink="/Portal/MyOrganizations"><img src="assets/img/myorgs.svg" class="img-responsive"></a>
                          <p class="psln-text">My Organizations</p>
                      </div>    
                  </div>                     
              </div>
          </div>
      </div>
  </div>
</div>
<div class="jumbotron psln-containerBottom">
  <div class="container">
        <p class="display-4 psln-textBot">Lorem Ipsum is simply dummy text of the printing.</p>
        <a class="display-4 psln-btnContact">Join the Team        </a>
  </div>
</div>


