<div class="jumbotron psln-container">
        <div class="container">
          <h1 class="display-4 psln-oracleText">Adoption Application</h1>
        </div>
      </div>
      <nav class="psln-navUsers">
      Dashboard / Adoption Application
      </nav>
      <div class="container">
      <div class="col-sm-4">
          <div class="container">
             <br>
              <p class="lead">Adoption Application</p>
              <div class="addPet"> 
                  <form>
                      <input type="search" name="busqueda" class="psln-btnPlace" placeholder="Search..."> 
                  </form> 
              </div>
              <div class="row">
                  <div class="col-sm-3"> 
                      <ul id="nav-tabs-wrapper" class="nav  nav-pills nav-stacked">
                        <li><a class="psln-navUsersText">Filled Out Applications</a></li> 
                        <li><a class="psln-navUsersText2">Common Aplication</a></li> 
                        <li><a class="psln-navUsersText2">Foster Application</a></li> 
                        <li><a class="psln-navUsersText2">Volunteer Application</a></li>  
                      </ul>
                  </div> 
              </div> 
          </div>
      </div>
      <div class="psln-contentGeneral">
      <div class="col-sm-8">
          <div class="bs-calltoaction bs-calltoaction-default">
              <div class="row"> 
                  <div class="col-md-9 cta-contents">
                      <div class="cta-desc">
                          <p>Describe the action here.</p>
                          <p>Describe the action here.</p>
                          <p>Describe the action here.</p>
                      </div>
                  </div>
                  <div class="col-md-3 cta-button">
                      <a routerLink="#" class="btn btn-lg btn-block btn-default psln-waitlist">Waitlist</a>
                      <a routerLink="#" class="btn btn-lg btn-block btn-default psln-notes">Notes</a>
                      <a routerLink="#" class="btn btn-lg btn-block btn-default psln-delete">Delete</a>
                  </div>              
               </div>
          </div> 
      </div> 
      </div>
      </div>