<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron psln-container">
    <div class="container">
      <h1 class="display-4 psln-oracleText">Dashboard</h1>
    </div>
</div>

<div class="container">
    <div class="row"> 
            <app-sidebar></app-sidebar>        
        <div class="col-md-6" id="psln-panel">
            <div class="panel" id="psln-panelBody">
                <div class="panel-body"> 
                    <div class="row">        
                        <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter hdpe">
                            <a routerLink="/pets"><img   src="assets/img/Pets.svg" class="img-responsive"></a>
                            <p class="psln-text">Pets</p>
                        </div>            
                        <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter sprinkle">
                            <a routerLink="/adoption"><img src="assets/img/AdoptionApplication.svg" class="img-responsive"></a>
                            <p class="psln-text">Adoption Application</p>
                        </div>            
                        <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter hdpe">
                            <a routerLink="/forms"><img src="assets/img/Forms.svg" class="img-responsive"></a>
                            <p class="psln-text">Forms</p>
                        </div>            
                        <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter irrigation">
                            <a routerLink="/waitList"><img src="assets/img/Waitlist.svg" class="img-responsive"></a>
                            <p class="psln-text">Wait List</p>
                        </div>
                        <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter spray">
                            <a routerLink="/doNot"><img src="assets/img/DoNotAdoptList.svg" class="img-responsive"></a>
                            <p class="psln-text">Do Not Adopt</p>
                        </div>            
                        <div class="psln-gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4 filter irrigation">
                            <a routerLink="/managePeople"><img src="assets/img/managePeople.svg" class="img-responsive"></a>
                            <p class="psln-text">Manage People</p>
                        </div> 
                    </div>                     
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron psln-containerBottom">
    <div class="container">
        <p class="display-4 psln-textBot">Lorem Ipsum is simply dummy text of the printing.</p>
        <a class="display-4 psln-btnContact">Contact Us</a>
    </div>
</div>

  
  