<div class="jumbotron psln-container">
    <div class="container">
      <h1 class="display-4 psln-oracleText">Volunteer Opportunities</h1>
    </div>
  </div>
  <nav class="psln-navUsers">
  Contact / Volunteer Opportunities
  </nav>
    <div class="container bs-calltoaction bs-calltoaction-default"> 
        <div class="container psln-navSearch"> 
            <div class="form-group"> 
                <div class="col-md-4">
                    <p style="color:#fff;font-size:1.3em">Opportunities Specs</p>
                </div>
                <div class="col-md-4">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                        </select>
                </div>
                <div class="col-md-4">
                        <p style="color:#fff;font-size:1.3em">Expedition Date:</p>
                </div> 
                    
            </div> 
          </div>
        <div class="row">                        
                <div class="col-md-10"> 
                    <h2 class="psln-Text">About</h2>
                    <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
                <form class="form-horizontal">
                  <fieldset> 
                    <div class="form-group">
                        <label class="psln-labText control-label" for="Brand">Volunteer Opportunitie Title</label>  
                        <br>
                        <div class="col-md-12">
                          <input id="Brand" name="Brand" type="text" placeholder="Title Here" class="form-control input-md">
                          <span class="help-block"> </span>  
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="psln-labText control-label" for="speneeds">Volunteer Opportunitie Description </label>
                        <br>
                        <div class="col-md-12">                     
                          <textarea class="form-control" id="speneeds" name="speneeds">
                              Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="psln-labText control-label" for="checkboxes">Volunteer Work Types (Select all that apply)</label>
                        <br>
                        <div class="col-md-3">
                        <div class="checkbox">
                          <label for="checkboxes-0">
                            <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                            Cleaning
                          </label>
                        </div>
                        <div class="checkbox">
                          <label for="checkboxes-1">
                            <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                            Off - Site Help
                          </label>
                        </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                              <label for="checkboxes-0">
                                <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                Grant Writing                                
                              </label>
                            </div>
                            <div class="checkbox">
                              <label for="checkboxes-1">
                                <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                Marketing
                              </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                              <label for="checkboxes-0">
                                <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                Cleaning
                              </label>
                            </div>
                            <div class="checkbox">
                              <label for="checkboxes-1">
                                <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                Off - Site Help
                              </label>
                            </div>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox">
                                  <label for="checkboxes-0">
                                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                    Grant Writing                                
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="checkboxes-1">
                                    <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                    Marketing
                                  </label>
                                </div>
                            </div>                        
                    </div>
                    <div class="form-group">
                        <label class="psln-labText control-label" for="often">Event Day(s)</label>  
                        <br>
                        <div class="col-md-12">
                        <input id="often" name="often" type="text" placeholder="How Often" class="form-control input-md">
                        <span class="help-block"> </span>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="psln-labText control-label" for="often">Estimate Volunteer Hours</label>  
                        <br>
                        <div class="col-md-12">
                        <input id="often" name="often" type="text" placeholder="How Often" class="form-control input-md">
                        <span class="help-block"> </span>  
                        </div>
                    </div>   
                    <div class="form-group"> 
                        <div class="col-md-12" align="center">
                          <a id="button1id" name="button1id" class="btn btn-lg  btn-default psln-btnFoot">Post</a> 
                        </div>
                      </div>  
                </fieldset>
              </form>
                </div>
          </div>
         
             
    </div>